/* Color styles */
:root {
  --primary--100: #021335;
  --primary--200: #022467;
  --primary--300: #033699;
  --primary--400: #0551e7;
  --primary--500: #0559fd;
  --primary--600: #1e69fd;
  --primary--700: #74a3fd;
  --primary--800: #abc8fd;
  --primary--900: #e2edfe;
  --surface--100: #020b1f;
  --surface--200: #0c132c;
  --surface--300: #182040;
  --surface--400: #2f3756;
  --surface--500: #7e848e;
  --surface--600: #c4d4ec;
  --surface--700: #dce9fc;
  --surface--800: #f3f8fc;
  --surface--900: #fbfdfe;
  --u-i---gray--0: #000000;
  --u-i---gray--100: #1a1a1a;
  --u-i---gray--200: #333333;
  --u-i---gray--300: #4e4e4e;
  --u-i---gray--400: #676767;
  --u-i---gray--500: #808080;
  --u-i---gray--600: #9a9a9a;
  --u-i---gray--700: #b3b3b3;
  --u-i---gray--800: #cdcdcd;
  --u-i---gray--900: #e6e6e6;
  --u-i---gray--1000: #ffffff;
  --u-i---green--100: #062324;
  --u-i---green--200: #0f5a2f;
  --u-i---green--300: #18903a;
  --u-i---green--400: #26e54a;
  --u-i---green--500: #2afd4f;
  --u-i---green--600: #3ffd60;
  --u-i---green--700: #88fd9e;
  --u-i---green--800: #b7fdc6;
  --u-i---green--900: #e6fded;
  --u-i---orange--100: #1b191d;
  --u-i---orange--200: #543918;
  --u-i---orange--300: #8d5a14;
  --u-i---orange--400: #e68c0d;
  --u-i---orange--500: #ff9b0b;
  --u-i---orange--600: #ffa523;
  --u-i---orange--700: #fdc778;
  --u-i---orange--800: #fcddaf;
  --u-i---orange--900: #fbf3e6;
  --u-i---pink--100: #1a0d35;
  --u-i---pink--200: #4f1268;
  --u-i---pink--300: #84179a;
  --u-i---pink--400: #d61fe9;
  --u-i---pink--500: #ed21ff;
  --u-i---pink--600: #ef37ff;
  --u-i---pink--700: #f484ff;
  --u-i---pink--800: #f7b5ff;
  --u-i---pink--900: #fae7fe;
  --u-i---purple--100: #0e0e35;
  --u-i---purple--200: #281468;
  --u-i---purple--300: #431a9a;
  --u-i---purple--400: #6d23e9;
  --u-i---purple--500: #7926ff;
  --u-i---purple--600: #863cff;
  --u-i---purple--700: #b387ff;
  --u-i---purple--800: #d0b7ff;
  --u-i---purple--900: #eee8fe;
  --u-i---red--100: #1b0f21;
  --u-i---red--200: #541825;
  --u-i---red--300: #8d2129;
  --u-i---red--400: #e62e2f;
  --u-i---red--500: #ff3231;
  --u-i---red--600: #ff4645;
  --u-i---red--700: #fd8e8d;
  --u-i---red--800: #fcbbbb;
  --u-i---red--900: #fbe9e9;
  --u-i---sky--blue--100: #032335;
  --u-i---sky--blue--200: #045968;
  --u-i---sky--blue--300: #058f9a;
  --u-i---sky--blue--400: #07e4e9;
  --u-i---sky--blue--500: #08fcff;
  --u-i---sky--blue--600: #20fcff;
  --u-i---sky--blue--700: #76fdff;
  --u-i---sky--blue--800: #acfdff;
  --u-i---sky--blue--900: #e3fdfe;
  --u-i---yellow--100: #1b231c;
  --u-i---yellow--200: #525a15;
  --u-i---yellow--300: #8a910e;
  --u-i---yellow--400: #e1e703;
  --u-i---yellow--500: #faff00;
  --u-i---yellow--600: #faff19;
  --u-i---yellow--700: #fafe73;
  --u-i---yellow--800: #fbfeac;
  --u-i---yellow--900: #fbfde5;
}

//Todo: should change to light mode colors
[data-theme-mode] {
  --primary--100: #021335;
  --primary--200: #022467;
  --primary--300: #033699;
  --primary--400: #0551e7;
  --primary--500: #0559fd;
  --primary--600: #1e69fd;
  --primary--700: #74a3fd;
  --primary--800: #abc8fd;
  --primary--900: #e2edfe;
  --surface--100: #020b1f;
  --surface--200: #0c132c;
  --surface--300: #182040;
  --surface--400: #2f3756;
  --surface--500: #7e848e;
  --surface--600: #c4d4ec;
  --surface--700: #dce9fc;
  --surface--800: #f3f8fc;
  --surface--900: #fbfdfe;
  --u-i---gray--0: #000000;
  --u-i---gray--100: #1a1a1a;
  --u-i---gray--200: #333333;
  --u-i---gray--300: #4e4e4e;
  --u-i---gray--400: #676767;
  --u-i---gray--500: #808080;
  --u-i---gray--600: #9a9a9a;
  --u-i---gray--700: #b3b3b3;
  --u-i---gray--800: #cdcdcd;
  --u-i---gray--900: #e6e6e6;
  --u-i---gray--1000: #ffffff;
  --u-i---green--100: #062324;
  --u-i---green--200: #0f5a2f;
  --u-i---green--300: #18903a;
  --u-i---green--400: #26e54a;
  --u-i---green--500: #2afd4f;
  --u-i---green--600: #3ffd60;
  --u-i---green--700: #88fd9e;
  --u-i---green--800: #b7fdc6;
  --u-i---green--900: #e6fded;
  --u-i---orange--100: #1b191d;
  --u-i---orange--200: #543918;
  --u-i---orange--300: #8d5a14;
  --u-i---orange--400: #e68c0d;
  --u-i---orange--500: #ff9b0b;
  --u-i---orange--600: #ffa523;
  --u-i---orange--700: #fdc778;
  --u-i---orange--800: #fcddaf;
  --u-i---orange--900: #fbf3e6;
  --u-i---pink--100: #1a0d35;
  --u-i---pink--200: #4f1268;
  --u-i---pink--300: #84179a;
  --u-i---pink--400: #d61fe9;
  --u-i---pink--500: #ed21ff;
  --u-i---pink--600: #ef37ff;
  --u-i---pink--700: #f484ff;
  --u-i---pink--800: #f7b5ff;
  --u-i---pink--900: #fae7fe;
  --u-i---purple--100: #0e0e35;
  --u-i---purple--200: #281468;
  --u-i---purple--300: #431a9a;
  --u-i---purple--400: #6d23e9;
  --u-i---purple--500: #7926ff;
  --u-i---purple--600: #863cff;
  --u-i---purple--700: #b387ff;
  --u-i---purple--800: #d0b7ff;
  --u-i---purple--900: #eee8fe;
  --u-i---red--100: #1b0f21;
  --u-i---red--200: #541825;
  --u-i---red--300: #8d2129;
  --u-i---red--400: #e62e2f;
  --u-i---red--500: #ff3231;
  --u-i---red--600: #ff4645;
  --u-i---red--700: #fd8e8d;
  --u-i---red--800: #fcbbbb;
  --u-i---red--900: #fbe9e9;
  --u-i---sky--blue--100: #032335;
  --u-i---sky--blue--200: #045968;
  --u-i---sky--blue--300: #058f9a;
  --u-i---sky--blue--400: #07e4e9;
  --u-i---sky--blue--500: #08fcff;
  --u-i---sky--blue--600: #20fcff;
  --u-i---sky--blue--700: #76fdff;
  --u-i---sky--blue--800: #acfdff;
  --u-i---sky--blue--900: #e3fdfe;
  --u-i---yellow--100: #1b231c;
  --u-i---yellow--200: #525a15;
  --u-i---yellow--300: #8a910e;
  --u-i---yellow--400: #e1e703;
  --u-i---yellow--500: #faff00;
  --u-i---yellow--600: #faff19;
  --u-i---yellow--700: #fafe73;
  --u-i---yellow--800: #fbfeac;
  --u-i---yellow--900: #fbfde5;
}
