@font-face {
  font-family: 'IRANYekanRegular';
  src:
    local('IRANYekanRegular'),
    url(../../fonts/IRANYekanMobileRegular.ttf) format('woff2');
}
* {
  box-sizing: border-box;
  font-family: 'IRANYekanRegular', 'FreeFarsi', 'Homa', 'Nazli', 'Titr', Arial, Helvetica, sans-serif, Tahoma, Verdana,
    sans-serif, serif;
}

body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--surface--400);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--surface--300);
  border-radius: 4px;
}
